.d-block {
    display: block;
}

.d-flex {
    display: flex;

    &--align-items-center {
        @extend .d-flex;
        align-items: center;
    }
    &--col {
        @extend .d-flex;
        flex-direction: column;
    }
    &--col-spc-btwn {
        flex-direction: column;
        justify-content: space-between;
    }

    &--row-spc-btwn {
        flex-direction: row;
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }
}
.align-self--center {
    align-self: center;
}
.align-self--end {
    align-self: flex-end;
}
.align-self--start {
    align-self: flex-start;
}
.el--align-center {
    text-align: center;
}


