label {
    font: 2rem;
    font-weight: bold;
}




input, button, select {
    border: none;
    margin: .7rem;
    padding: .5rem;
    background-color: transparent;
    // color: white;
    font-weight: bold;
}

.form-input__section {
    padding: 4rem 2rem;
    margin-bottom: 5rem;
    border-radius: 10px;

    background: linear-gradient(to right bottom, 
    rgba(218, 216, 214, 0.8), 
    rgb(255, 255, 255)),
    url('https://images.unsplash.com/photo-1512069511692-b82d787265cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-size: cover;
    background-position: center;
}



.consultation-notes {
    text-align: center;
    margin: 2rem;
}







// label {
//     color: #4b4949;
//     font-size: 1rem;
//     font-weight: 700;
// }

// .btn {
//     color: seashell;
//     font-size: 1.5rem;
//     font-weight: bold;
//     margin: 30px auto;
//     padding: 10px;
// }
// .btn-half {
//    width: 50%; 
// }

// .btn--purple {
//     background-color: purple;
// }

// .form-control {
//     color: purple;
//     font-size: 2rem;
//     padding: 10px;
// }


// .border__reset {
//     border: none;
// }


// .form__flex--col {
//     display: flex;
//     flex-direction: column;
// }