input, button, select {
    border: none;
    background-color: #fac682;
}

label {
    color: #4b4949;
    font-size: 1rem;
    font-weight: 700;
}

.btn {
    color: seashell;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px;
}
.btn-half {
   width: 50%; 
}

.btn__purple {
    background-color: purple;
}

.form-control {
    color: purple;
    font-size: 2rem;
    padding: 10px;
}

.form-error {
    color: maroon;
    font-size: 1rem;
}

.form-header {
    color: purple;
    margin: 2px auto;
    font-family: 'Bellota', cursive;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
    text-align: center;
}

.border__reset {
    border: none;
}


.form__flex--col {
    display: flex;
    flex-direction: column;
}