<app-loading-spinner  *ngIf="isLoading"></app-loading-spinner>
  <main class="paper shadow">
  <form (submit)="onSaveFile()" [formGroup]="form" class="form-container__modal">
    <div class="form-header">
      <h1>{{ mode | titlecase }} File</h1>
    </div>
    <div class="form-input__section bg__white">
    
      <div class="">
        <label class="txt-tertiary" for="title">Title:</label>
    <select class="txt-secondary" id="title" formControlName="title"> 
      <option *ngFor="let title of titleDropDownValues" value="{{ title }}">{{ title | titlecase}}</option>
</select>

      </div>
      
      <div class="">
        <label class="txt-tertiary" for="initials">Initials:</label>
        <input 
        class="form-control txt-secondary"
        type="text"
        id="initials" 
        placeholder="initials"
        formControlName="initials"
        > 
        <p *ngIf="!form.get('initials').valid && form.get('initials').touched" class="form-error">Please enter valid initials</p>
      </div>
      
      <div class="">
        <label class="txt-tertiary" for="fullNames">Full Names:</label>
      <input 
      class="form-control txt-secondary"
      type="text"
      id="fullNames" 
      placeholder="full names"
      formControlName="fullNames"
      > 
      <p *ngIf="!form.get('fullNames').valid && form.get('fullNames').touched" class="form-error">Please enter valid full names</p>
    </div>

    <div class="">
      <label class="txt-tertiary" for="lastName">Last Name:</label>
      <input
      class="form-control txt-secondary" 
      type="text"
      id="lastName"
      placeholder="last name"
      formControlName="lastName"
      > 
      <p *ngIf="!form.get('lastName').valid && form.get('lastName').touched" class="form-error">Please enter valid last name</p>
    </div>

    <div class="">
      <label class="txt-tertiary" for="idNumber">ID Number:</label>
      <input
      class="form-control txt-secondary" 
      type="text"
      id="idNumber" 
      placeholder="idNumber"
      formControlName="idNumber"
      > 
      <p *ngIf="!form.get('idNumber').valid && form.get('idNumber').touched" class="form-error">Please enter valid id number</p>
    </div>

    <div class="">
      <label class="txt-tertiary" for="citizenship">Citizenship:</label>
      <input
      class="form-control txt-secondary" 
      type="text"
      id="citizenship" 
      placeholder="citizenship"
      formControlName="citizenship"
      > 
      <p *ngIf="!form.get('citizenship').valid && form.get('citizenship').touched" class="form-error">Please enter valid citizenship</p>
    </div>

    <div class="">
    <label class="txt-tertiary" for="gender">Gender:</label>
    <select class="txt-secondary" id="gender" formControlName="gender">
      <option *ngFor="let sex of genderValues" [value]="sex">{{ sex | titlecase}}</option>
  
      
</select>

    </div>

    <div class="">
      <label class="txt-tertiary" for="ethnicity">Ethnicity</label>
      <select class="txt-secondary" id="ethnicity" formControlName="ethnicity">
        <ng-container *ngFor="let race of ethnicityValues">
        <option [value]="race">{{ race | titlecase}}</option>
      </ng-container>
  </select>
      </div>

    <div class="">
      <label class="txt-tertiary" for="maritalStatus">Marital Status:</label>
      <select class="txt-secondary" id="maritalStatus" formControlName="maritalStatus">
         <ng-container *ngFor="let status of maritalStatusValues">
        <option [value]="status">{{ status | titlecase }}</option>
      </ng-container>       
  </select>
      </div>

      <div class="">
        <label class="txt-tertiary" for="language">Language:</label>
        <input
        class="form-control txt-secondary" 
        type="text"
        id="language" 
        placeholder="language"
        formControlName="language"
        > 
        <p *ngIf="!form.get('language').valid && form.get('language').touched" class="form-error">Please enter valid language</p>
      </div>

        <div class="">
          <label class="txt-tertiary" for="religion">Religion:</label>
          <input
          class="form-control txt-secondary" 
          type="text"
          id="religion" 
          placeholder="religion"
          formControlName="religion"
          > 
          <p *ngIf="!form.get('religion').valid && form.get('religion').touched" class="form-error">Please enter valid religion</p>
        </div>

        <div class="consultation-notes">
          <label class="txt-tertiary d-block" for="summary">Summary of Consultation:</label>
          <textarea class="notes" 
          name="consultation-summary"
          formControlName="notes" 
          id="summary" placeholder="Consultation notes" cols="30" rows="10"></textarea>
        </div>
   

    <div class="el--align-center">
      <button class="btn btn-half btn--purple" type="submit" [name]="mode" aria-label="submit">{{ mode }}</button>
      <a routerLink="/" class="link--text-purple" [name]="mode" aria-label="return">Return to search</a>
    </div>
   
  </div>
    </form>
  </main>
