<app-loading-spinner (submit)="onSaveFile()" *ngIf="isLoading"></app-loading-spinner>
  
  <form [formGroup]="form" class="form-container__modal">
    <div class="form-header">
      <h1>{{ mode | titlecase }} File</h1>
    </div>
    <div class="form-input__section">
    
      <div class="form-group">
        <label for="cars">Title:</label>

    <select id="title">
      <ng-container *ngFor="let title of titleDropDownValues">
      <option [value]="title.title">{{ title.title | titlecase}}</option>
    </ng-container>
</select>
      </div>
      <div class="form-group">
        <label for="initials">Initials:</label>
        <input 
        class="form-control"
        type="text" 
        placeholder="initials"
        formControlName="initials"
        > 
        <p *ngIf="!form.get('initials').valid && form.get('initials').touched" class="form-error">Please enter valid initials</p>
      </div>
      <div class="form-group">
        <label for="fullNames">Full Names:</label>
      <input 
      class="form-control"
      type="text" 
      placeholder="full names"
      formControlName="fullNames"
      > 
      <p *ngIf="!form.get('fullNames').valid && form.get('fullNames').touched" class="form-error">Please enter valid full names</p>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input
      class="form-control" 
      type="text" 
      placeholder="last name"
      formControlName="lastName"
      > 
      <p *ngIf="!form.get('lastName').valid && form.get('lastName').touched" class="form-error">Please enter valid last name</p>
    </div>

    <div class="form-group">
      <label for="lastName">ID Number:</label>
      <input
      class="form-control" 
      type="text" 
      placeholder="idNumber"
      formControlName="idNumber"
      > 
      <p *ngIf="!form.get('idNumber').valid && form.get('idNumber').touched" class="form-error">Please enter valid id number</p>
    </div>

    <div class="form-group">
      <label for="citizenship">Citizenship:</label>
      <input
      class="form-control" 
      type="text" 
      placeholder="citizenship"
      formControlName="citizenship"
      > 
      <p *ngIf="!form.get('citizenship').valid && form.get('citizenship').touched" class="form-error">Please enter valid citizenship</p>
    </div>

    <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender">
      <ng-container *ngFor="let sex of genderValues">
      <option [value]="sex.sex">{{ sex.sex | titlecase}}</option>
    </ng-container>
      
</select>
    </div>

    <div class="form-group">
      <label for="gender">Ethnicity</label>
      <select id="ethnicity">
        <ng-container *ngFor="let race of ethnicityValues">
        <option [value]="race.race">{{ race.race | titlecase}}</option>
      </ng-container>
  </select>
      </div>

    <div class="form-group">
      <label for="maritalStatus">Marital Status:</label>
      <select id="title">
         <ng-container *ngFor="let status of maritalStatusValues">
        <option value="status.status">{{ status.status | titlecase }}</option>
      </ng-container>       
  </select>
      </div>

      <div class="form-group">
        <label for="maritalStatus">Language:</label>
        <select id="title">
          <option value="female">English</option>
    </select>
        </div>

        <div class="form-group">
          <label for="religion">Religion:</label>
          <input
          class="form-control" 
          type="text" 
          placeholder="Religion"
          formControlName="religion"
          > 
          <p *ngIf="!form.get('religion').valid && form.get('religion').touched" class="form-error">Please enter valid religion</p>
        </div>
   

    <div class="form-group">
      <button class="btn btn-full btn-login__color" type="button">Update</button>
    </div>
   
  </div>
    </form>
    {{ form.valid}}
  
