@import '../../../../styles/abstracts/variables';

.file-search-section {
    height: 95vh;
    background: linear-gradient(to right bottom, 
    rgba(238, 199, 147, .8), 
    rgba(246, 160, 48, .8)),
    url('https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-size: cover;
    background-position: center;
    // margin: 0 3rem;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // background: linear-gradient(to left, red, blue);
    // background-color: rgb(250, 198, 130);
    // background-position: top;
}

.heading-tertiary {
    background-color: rgba(246, 160, 48, 1);
    border-radius: 100px;
    color: $color-white;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform .3s;

    &:hover {
        background-color: #d47e0d;
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.input-search {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    // margin-bottom: 20px;
}

.search-area {
    // background-color: purple;
    height: 30vh;
    width: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2rem 1rem;
    transform: translate(-50%, -50%);
}

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url('https://picsum.photos/200/300');
        background-size: cover;
        transform: skewY(-7deg);
        margin-top: -11rem;

        & > * {
            transform: skewY(7deg);
        }
}

