.btn-rnd {
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 10rem;

    &--white {
        background-color: #fff;
        color: #464545;
    }

    &:hover{
        // text-transform: uppercase;
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(-1px);
    }
    
    &:focus{ outline-color: thin dotted }
}

.btn {
    color: seashell;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3rem auto;
    padding: 1rem;

    &-half {
        width: 50%; 
     }

     &--purple {
        background-color: purple !important;
    }

}
