.d-block {
    display: block;
}

.d-flex {
    display: flex;

    &--col-spc-btwn {
        flex-direction: column;
        justify-content: space-between;
    }

    &--row-spc-btwn {
        flex-direction: row;
        justify-content: space-between;
    }
}

.el--align-center {
    text-align: center;
}

