<div class="c-margin-bottom--4">
    <a class="btn-return-home" [routerLink]="['/']" >Return to search</a>
</div>
<hr>
<main class="d-flex--col d-flex--align-items-center">
    <h2>List of previous consultations for:</h2>
    <h1 class="patient-info">
        {{ consultation.title | titlecase }}. {{ consultation.initials | uppercase }} {{ consultation.lastName | titlecase }}</h1>
    <strong>* DOUBLE CLICK DATE TO VIEW CONSULTATION AND PRESCRIPTION</strong>
    <ng-container *ngFor="let clinicVisitation of clinicVisitations; let i = index">
        <div class="accordion">
            <h1>{{ clinicVisitation.date }}</h1>
            <!-- <a class="edit-link" [routerLink]="['/edit', clinicVisitation._id]">EDIT</a> -->
        </div>
        
        <div class="panel">
            <h2 class=" margin-md align-self--center">Diagnosis</h2>
            <p class="margin-md">{{ clinicVisitation.diagnosis }}</p>
            <hr>
            <h2 class="margin-md align-self--center">Prescribed Medication</h2>
            <p class="margin-md">{{ clinicVisitation.prescription }}</p>
            <hr>
            <img [src]="clinicVisitation.imagePath" alt="" srcset="">
        </div>
        <p class="info-text mat-body-1" *ngIf="clinicVisitation.diagnosis === undefined && !isLoading">No files added yet!</p>
    </ng-container>
    <a class="link--text-purple align-self--end big-font" [routerLink]="['/add', consultation.id]">Click Here To Add New Consultation</a>
</main>



