article {
    padding: 2rem;
}




  .delete-button {
    //   display: none
    font-size: 1.6rem;
      padding: .5rem 1rem;
      background-color: seashell;
      color: rebeccapurple;
      border: none;
  }

  .edit-link {
      font-size: 1.6rem;
      padding: .5rem 1rem;
      background-color: rebeccapurple;
      color: seashell;
      text-decoration: none;
  }

  