<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<main class="paper shadow">

  <div class="form-header">
    <h1>File List</h1>
  </div>
    <div *ngFor="let cfile of cfiles">
      <div class="accordion-two" (click)="toggleAccordion()">
        <span>
          {{ cfile.title | titlecase }} {{ cfile.initials | uppercase }} {{ cfile.lastName | titlecase }}
        </span>
        
        <span>
          <a class="edit-link" [routerLink]="['/edit', cfile.id]">EDIT</a>
          <button class="delete-button" name="delete-button" aria-label="delete" (click)="onDelete(cfile.id)">DELETE</button>
        </span>
      </div> 
    
      <div class="patient-details panel-two" [hidden]="detailsHidden">
     <p><strong>Initials:</strong> {{ cfile.initials }}</p>
    <p><strong>Full names:</strong> {{ cfile.fullNames }}</p>
    <p><strong>Last name:</strong> {{ cfile.lastName }}</p>
    <p><strong>idNumber:</strong> {{ cfile.idNumber }}</p>
    <p><strong>Citizenship:</strong> {{ cfile.citizenship }}</p>
    <p><strong>Gender:</strong> {{ cfile.gender }}</p>
    <p><strong>Ethnicity:</strong> {{ cfile.ethnicity }}</p>
    <p><strong>Marital Status</strong> {{ cfile.maritalStatus }}</p>
    <p><strong>Language:</strong> {{ cfile.language }}</p>
    <p><strong>Religion:</strong> {{ cfile.religion }}</p>
    
    <p><strong>Chronic illnesses:</strong>None</p>
    <p><strong>Last Check Up Date:</strong> 05 May 2020</p>
    <p><strong>Doctor Consulted:</strong> Dr S. Nkhosi</p>
    <p><strong>File Clinic:</strong> Simmonds Health Center</p>
    <p><strong>Clinic Last Visited:</strong> Melrose Health Center</p>

    <article>
        <h3>Summary of last consultation</h3>
        {{ cfile.notes }}
        <ul>
          <li>4 Flu</li>
          <li>Strepsils</li>
          <li>Stool solidifiers</li>
          <li>Electrolytes</li>
        </ul>
      
    </article>

  </div>
    
</div>
<a routerLink="/create">Add New File</a>
<p class="info-text mat-body-1" *ngIf="cfiles.length <= 0 && !isLoading">No files added yet!</p>
</main>