@import './styles/reset.scss';
@import './styles/buttons.scss';
@import './styles/form.scss';
@import './styles/layouts.scss';

@import './styles/abstracts/mixins';
@import './styles/abstracts/variables';

@import './styles/components/accordion';
@import './styles/components/feature-box';

@import './styles/layout/grid.scss';

.paper {
    max-width: 90rem;
    background-color: rgba(250, 199, 133, 0.8);
    margin: 0 auto;
    padding: 2rem 7rem;
    min-height: 100vh;
}

.shadow {
    box-shadow: .2rem .6rem 4rem 1.2rem #555454;
}

.shadow-md {
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
}

.bg__white {
    background-color: #fff;
}



