@import './styles/reset.scss';
@import './styles/buttons.scss';
@import './styles/form.scss';
@import './styles/layouts.scss';

.paper {
    max-width: 900px;
    background-color: #fac682;
    margin: 0 auto;
    padding: 20px 70px;
    min-height: 100vh;
}

.shadow {
    box-shadow: 2px 6px 40px 12px #555454;
}

.bg__white {
    background-color: #fff;
}



